<section class="section min-h-[88vh] flex flex-col justify-center">

  <p class="fade-up fade-up-1 mb-3 tracking-widest"
     style="font-family:'Space Mono',monospace; color:var(--blue); font-size:0.84rem">
    <span>$</span>whoami
  </p>

  <h1 class="fade-up fade-up-2 text-lg md:text-7xl font-bold mb-4 leading-tight"
      style="color:var(--text)">
    {{ 'hero.title' | translate }}
  </h1>

  <h2 class="fade-up fade-up-3 text-base md:text-2xl mb-6"
      style="color:var(--muted); font-family:'Space Mono',monospace; font-weight:400">
    {{ 'hero.subtitle' | translate }}<span class="cursor"></span>
  </h2>

  <p class="fade-up fade-up-4 max-w-lg mb-10 leading-relaxed"
     style="color:var(--muted); font-size:1.1rem">
    {{ 'hero.description' | translate }}
  </p>

  <div class="fade-up fade-up-4 flex gap-4 flex-wrap">
    <a
      (click)="scrollTo('projects')"
      class="px-6 py-3 text-xs font-bold transition-all hover:opacity-90"
      style="background:var(--blue); color:#0e0e14; cursor:pointer;
            font-family:'Space Mono',monospace;
            border-radius: 12px;">
      {{ 'hero.projects' | translate }}
    </a>
    <a
      (click)="scrollTo('contact')"
      class="px-6 py-3 text-xs transition-all"
      style="color:var(--blue); font-family:'Space Mono',monospace; cursor:pointer;
            background:var(--surface); 
            border: 1px solid var(--border);
            border-radius: 12px;">
      {{ 'hero.contact' | translate }}
    </a>
  </div>
  <!--
  <div class="fade-up flex gap-8 mt-8 flex-wrap">
  <div>
    <p class="text-2xl font-bold" style="color: var(--blue)">4th</p>
    <p class="text-xs" style="color: var(--muted)">Year Engineering</p>
  </div>
  <div>
    <p class="text-2xl font-bold" style="color: var(--pink)">2</p>
    <p class="text-xs" style="color: var(--muted)">AWS Certifications</p>
  </div>
</div> -->

 <div class="overflow-hidden py-4 border-y marquee-container mt-27" style="border-color: var(--border)">
    <div class="flex gap-8 whitespace-nowrap animate-marquee">
      @for (word of ['AWS', 'Kubernetes', 'Terraform', 'CI/CD', 'Cloud Native', 'SRE']; track word) {
        <span class="text-xs font-medium" style="color: var(--muted)">{{ word }} ✦</span>
      }
      @for (word of ['AWS', 'Kubernetes', 'Terraform', 'CI/CD', 'Cloud Native', 'SRE']; track word) {
        <span class="text-xs font-medium" style="color: var(--muted)">{{ word }} ✦</span>
      }
      @for (word of ['AWS', 'Kubernetes', 'Terraform', 'CI/CD', 'Cloud Native', 'SRE']; track word) {
        <span class="text-xs font-medium" style="color: var(--muted)">{{ word }} ✦</span>
      }
    </div>
  </div>


</section>
